@primary_color: white;
@text_color: #494e51;

@alternate_color: #ffdada;
@dark_alternate_color: darken(@alternate_color, 20%);
@very_dark_alternate_color: darken(@alternate_color, 40%);

@about_color: @alternate_color;
@dark_about_color: darken(@about_color, 20%);
@very_dark_about_color: darken(@about_color, 40%);

@work_color: #da9ff9;
@dark_work_color: darken(@work_color, 20%);
@very_dark_work_color: darken(@work_color, 40%);

@dnd_color: #98acf8;
@dark_dnd_color: darken(@dnd_color, 20%);
@very_dark_dnd_color: darken(@dnd_color, 40%);

@shadow: 0px 1px 2px 1px #DDDDDD;

@translate_distance: 1.5rem;

@initial_animation_duration: 1s;
@loop_animation_duration: 1s;

@small_width: ~"all and (max-width: 479px)";

// https://gist.github.com/MoOx/9137295
.reset_button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* my own styles */
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.visually_hidden() {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
