@import "common.less";

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: @alternate_color;
  box-sizing: border-box;
  font-family: 'Helvetica', 'Arial', sans-serif;
  transition: background @loop_animation_duration;
}

body.about_active {
  background: @about_color;
}

body.work_active {
  background: @work_color;
}

body.dnd_active {
  background: @dnd_color;
}

.main_container {
  padding: 5rem 1rem;

  @media @small_width {
    padding: 2rem 1rem;
  }
}
