@import "common.less";

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: @alternate_color;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  transition: background @loop_animation_duration;
}

.main_container {
  padding: 10rem 1rem;

  @media @phones {
    padding: 5rem 1rem;
  }
}
