@import "common.less";

.menu {
  display: flex;
  justify-content: space-between;

  li {
    a, button {
      .reset_button();

      &.active,
      &:focus,
      &:hover {
        background-color: pink;
      }
    }
  }
}
